{{>header.hbs}}

<form action="/movie-list" method="get">

    <h2>Sorry, there are no movies by that title</h2>

    <p>Try searching for a different movie:</p>
    <label for="title">Title:</label>
    <input type="text" id ="title" name="title_field"> <br>
    <p><button type="submit">Search</button></p>
</form>

{{>footer.hbs}}